@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    body, #root{
        background-color: #FFFFFF;
        /* overflow-x: hidden; */
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(./assets/fonts/Montserrat-Regular.woff2) format('woff2');
    }
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url(./assets/fonts/Montserrat-Medium.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(./assets/fonts/Montserrat-SemiBold.woff2) format('woff2');
      }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(./assets/fonts/Montserrat-Bold.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(./assets/fonts/Montserrat-ExtraBold.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(./assets/fonts/Montserrat-Black.woff2) format('woff2');
    }
}
